﻿.image-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2.5px 13px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #555555;
    background-color: seagreen;
    border-color: rgba(0, 0, 0, 0.1);
    }
.image-btn:hover {
    color: #555555;
    background-color: seashell;
    border-color: rgba(0, 0, 0, 0.1);
}