﻿#background {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:hidden;
    padding:0;
    margin:0;
    background-color:#808080;
    filter:alpha(opacity=80);
    opacity:0.8;
    z-index:150000;
}

/*
    100001
position: absolute;
background-color: #FAFAFA;
z-index: 2147483647 !important;
opacity: 0.8;
overflow: hidden;
text-align: center; top: 0; left: 0;
height: 100%;
width: 100%;
padding-top:20%;

*/

#progress{
    position:fixed;
    top:48%;
    left:48%;
    height:30px;
    width:30px;
    z-index:150000;
    /*background-color:#ffffff;
    border:4PX solid White;*/
    border-radius: 5px 5px;
    background-image:url('/Resource/images/spin.gif');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}